doctype	html
html(lang="en")
	head
	body
		include modules/header
		mixin name(name)
			li(class= 'test '+name)=name
		ul 
			+name('name 1')
			+name('name 2')
			+name('name 3')

		mixin news(title)
			.news-wrap(style="border: 1px solid #cccccc; margin: 0 0 30px; padding: 20px;")
				span.news-title= title
				.news-text
					if block
						block
					else
						p Пуста новина

		+news('Новина без тексту')
		+news('Новина з текстом')
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam rem dolor, doloremque sequi magni pariatur, repudiandae officia culpa quisquam rerum.

		mixin link(href, name)
			a(href= href)= name

		+link('google.com', 'Гугл')
		br
		+link('yahoo.com', 'Yahoo!')
		br
		+link('amazone.com', 'Amazone')
		br

		mixin list(...items)
			ul
				each item in items
					li= item
		+list(1,2,3,4,5)



